.home-jumbo {
  background-image: url(../assets/bg_rifle.jpeg);
  background-size: cover;
  color: white;
  background-position: bottom;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 url("https://i.imgur.com/6CG8GyQ.jpg");
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container-main {
  min-height: 80vh;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
